$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$imgRadar0: '../images/menu_quadrant_0.png';
$imgRadar1: '../images/menu_quadrant_1.png';
$imgRadar2: '../images/menu_quadrant_2.png';
$imgRadar3: '../images/menu_quadrant_3.png';
$imgRadarInactive0: '../images/menu_quadrant_0--inactive.png';
$imgRadarInactive1: '../images/menu_quadrant_1--inactive.png';
$imgRadarInactive2: '../images/menu_quadrant_2--inactive.png';
$imgRadarInactive3: '../images/menu_quadrant_3--inactive.png';

/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";*/
/*@import "bootstrap-sass/lib/responsive";*/

/* Put your CSS here */
html, body {
  //margin: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #FAFAFA;
  font-family: "Avenir Next","San Francisco", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
  /*font-family: "  Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #333;
  font-size: 14px;
}

.radar-manager ul {
  list-style-type: none;
}

.no-col-padding-right {
  padding-right: 0;
}

.active-tech {
  font-weight: bold;
  background-color: teal;
  color: #FAFAFA;
  transition: all .7s ease-in-out;
}

.group-Core {
  .techList-Platforms .active-tech {
    background-color: #D91500;
  }
  .techList-FrameworksLibraries .active-tech {
    background-color: #006485;
  }

  .techList-Tools .active-tech {
    background-color: #246020;
  }

  .techList-TechniquesLanguages .active-tech {
    background-color: #5b000a;
  }
}

.group-Non-Core {
  .techList-Platforms .active-tech {
    background-color: #EB4A0A;
  }
  .techList-FrameworksLibraries .active-tech {
    background-color: #0089a5;
  }

  .techList-Tools .active-tech {
    background-color: #458540;
  }

  .techList-TechniquesLanguages .active-tech {
    background-color: #80031e;
  }
}

.group-Adopting {
  .techList-Platforms .active-tech {
    background-color: #F38A3E;
  }
  .techList-FrameworksLibraries .active-tech {
    background-color: #1ebccd;
  }

  .techList-Tools .active-tech {
    background-color: #86B782;
  }

  .techList-TechniquesLanguages .active-tech {
    background-color: #B32059;
  }
}

.category {
  padding: 5px;
  //@include border-radius(5px);
  margin-bottom: 5px;
}

.mouseover-title {
  position: absolute;
  color: slategrey;
}

.radar-quadrant-navigation {
  list-style-type: none !important;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants {
  display: block;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant {
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  float: left;
  text-align: center;
  display: block;
  vertical-align: middle;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a {
  border-bottom: none;
  box-sizing: border-box;
  height: 75px;
  color: #FAFAFA;
  display: block;
  vertical-align: middle;
  line-height: 1em;
  font-weight: 700;
  font-size: 16px;
  background-color: #808185;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  padding: 28px 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0 {
  border-top: 0;
  border-bottom: 1px solid #EEE;
  background-position: bottom left;
  background-image: url($imgRadarInactive0);
  //padding: 18px 0
  /*background-image: url(/imgs/radar/secondary_navigation_quadrant/menu_quadrant_techniques--inactive.png);*/
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:hover {
  background-color: #86B782;
  background-image: url($imgRadar0);
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1 {
  background-position: top left;
  background-image: url($imgRadarInactive1);
  padding: 21px 0;
  //background-image: url(/imgs/radar/secondary_navigation_quadrant/menu_quadrant_tools--inactive.png);
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:hover {
  background-color: #B32059;
  background-image: url($imgRadar1);
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2 {
  border-right: 1px solid #EEE;
  background-position: top right;
  background-image: url($imgRadarInactive2);
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:hover {
  background-color: #F38A3E;
  background-image: url($imgRadar2);
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3 {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  background-position: bottom right;
  background-image: url($imgRadarInactive3);
  padding: 21px 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:hover {
  background-color: #1EBCCD;
  background-image: url($imgRadar3);
}

.dot {
  line-height: 30px;
  margin: 0;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  vertical-align: top;
}

.title-wrapper {
  margin-bottom: 20px;
  background-color: #EEE;
}

.title {
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
  font-size: 60px;
  color: #333;
  display: block;
  margin: 25px 0;
  text-transform: uppercase;
  line-height: .8em;
  border-bottom: none;
}

.group {
  display: block;
  /*padding: 1em .4em 1em 20px;*/
  /*line-height: 1.15em;*/
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0px;

    li {
      padding: 0 5px;
      line-height: 1.65em;
    }
  }
}

h3 {
  line-height: 30px;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
