$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$imgRadar0: '../images/menu_quadrant_0.png';
$imgRadar1: '../images/menu_quadrant_1.png';
$imgRadar2: '../images/menu_quadrant_2.png';
$imgRadar3: '../images/menu_quadrant_3.png';
$imgRadarInactive0: '../images/menu_quadrant_0--inactive.png';
$imgRadarInactive1: '../images/menu_quadrant_1--inactive.png';
$imgRadarInactive2: '../images/menu_quadrant_2--inactive.png';
$imgRadarInactive3: '../images/menu_quadrant_3--inactive.png';

/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";*/
/*@import "bootstrap-sass/lib/responsive";*/

/* Put your CSS here */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #FAFAFA;
  font-family: "Avenir Next", "San Francisco", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

.radar-manager ul {
  list-style-type: none;
}

.no-col-padding-right {
  padding-right: 0;
}

.active-tech {
  /*font-weight: bold;*/

  color: #FAFAFA;
  transition: all .7s ease-in-out;
}

.radar-movement {
  display: inline;
  padding: 0 4px;
  border-radius: 2px;
  margin-left: 3px;
  color: #162515;
  transition: all .7s ease-in-out;
}

.techList-Platforms .radar-movement {
  background-color: rgba(243, 138, 62, .3);
}

.techList-FrameworksLibraries .radar-movement {
  background-color: rgba(30, 188, 205, .3);
}

.techList-Tools .radar-movement {
  background-color: rgba(134, 183, 130, .3);
}

.techList-TechniquesLanguages .radar-movement {
  background-color: rgba(179, 32, 89, .3);
}

//rgba(243,138,62,.3)
.active-tech .radar-movement {
  background-color: white !important;
  color: black !important;
  /*font-weight: bold;*/
}

.tech-label {
  padding: 1px 5px;
  line-height: 1.65em;
  border-radius: 3px;
}

.group-Core {
  .techList-Platforms .active-tech .tech-label {
    background-color: #D91500;
  }
  .techList-FrameworksLibraries .active-tech .tech-label {
    background-color: #006485;
  }

  .techList-Tools .active-tech .tech-label {
    background-color: #246020;
  }

  .techList-TechniquesLanguages .active-tech .tech-label {
    background-color: #5B000A;
  }
}

.group-Non-Core {
  .techList-Platforms .active-tech .tech-label {
    background-color: #EB4A0A;
  }
  .techList-FrameworksLibraries .active-tech .tech-label {
    background-color: #0089A5;
  }

  .techList-Tools .active-tech .tech-label {
    background-color: #458540;
  }

  .techList-TechniquesLanguages .active-tech .tech-label {
    background-color: #80031E;
  }
}

.group-Adopting {
  .techList-Platforms .active-tech .tech-label {
    background-color: #F38A3E;
  }
  .techList-FrameworksLibraries .active-tech .tech-label {
    background-color: #1EBCCD;
  }

  .techList-Tools .active-tech .tech-label {
    background-color: #86B782;
  }

  .techList-TechniquesLanguages .active-tech .tech-label {
    background-color: #B32059;
  }
}

.category {
  padding: 5px;
  //@include border-radius(5px);
  margin-bottom: 5px;
}

.mouseover-title {
  position: absolute;
  color: slategrey;
}

a {
  color: #AAA;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
  outline: none;
}

.info {
  color: #E57373;
  font-weight: bold;
  margin: 0;
  padding: 1em;
  display: none;
}

.no-preserve3d .info--support {
  display: block;
  position: absolute;
  bottom: 1em;
  right: 1em;
}


.radar-quadrant-navigation {
  list-style-type: none !important;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants {
  display: block;
  //background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant {
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  float: left;
  text-align: center;
  display: block;
  vertical-align: middle;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a {
  box-sizing: border-box;
  height: 75px;
  //color: #FAFAFA;
  color: #333;
  display: block;
  vertical-align: middle;
  line-height: 1em;
  font-weight: 700;
  font-size: 16px;
  //background-color: #808185;
  background-color: #FFF;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  padding: 28px 0;
  margin: 2px;
  border: 1px solid #EEE;
  transition: all .3s ease-in-out;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0 {
  color: #246020;
  background-color: rgba(134, 183, 130, .1);
  margin-top: 0;
  margin-right: 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:hover {
  background-color: rgba(134, 183, 130, .9);
  color: #fafafa;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1 {

  //border: 2px solid #5b000a;
  color: #5b000a;
  background-color: rgba(179, 32, 89, .1);
  padding: 21px 0;
  margin-bottom: 0;
  margin-right: 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:hover {
  background-color: rgba(179, 32, 89, .9);
  color: #fafafa;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2 {
  //border: 2px solid #d91500;
  color: #d91500;
  background-color: rgba(243, 138, 62, .1);
  margin-bottom: 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:hover {
  background-color: rgba(243, 138, 62, .9);
  color: #fafafa;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3 {
  padding: 21px;
  color: #006485;
  background-color: rgba(30, 188, 205, .1);
  margin-top: 0;
}

.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:hover {
  background-color: rgba(30, 188, 205, .9);
  color: #fafafa;
}

.dot {
  font-size: 18px;
  font-weight: 700;
}

.title-wrapper {
  margin-bottom: 20px;
  background-color: #EEE;
  padding-right: 0;
}

.main-title {
  text-align: center;
  padding-top: 5px;
  font-weight: 900;
  font-size: 60px;
  color: #333;
  display: block;
  margin: 40px 0;
  text-transform: uppercase;
  line-height: .8em;
  border-bottom: none;
}

.group {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0px;

    li {
      padding: 0 5px;
      line-height: 1.65em;
    }
  }
}

h3 {
  line-height: 30px;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.tech-description {
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  margin-bottom: 5px;
  padding: 5px 0 5px 10px;
  color: #555 !important;
  p {
    margin-bottom: 5px;
  }
}



