/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";*/
/*@import "bootstrap-sass/lib/responsive";*/
/* Put your CSS here */
/* line 16, main.scss */
html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, main.scss */
body {
  background: #FAFAFA;
  font-family: "Avenir Next","San Francisco", "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 14px;
}

/* line 29, main.scss */
.radar-manager ul {
  list-style-type: none;
}

/* line 33, main.scss */
.no-col-padding-right {
  padding-right: 0;
}

/* line 37, main.scss */
.active-tech {
  /*font-weight: bold;*/
  color: #FAFAFA;
  transition: all .7s ease-in-out;
}

/* line 44, main.scss */
.radar-movement {
  display: inline;
  padding: 0 4px;
  border-radius: 2px;
  margin-left: 3px;
  color: #162515;
  transition: all .7s ease-in-out;
}

/* line 53, main.scss */
.techList-Platforms .radar-movement {
  background-color: rgba(243, 138, 62, 0.3);
}

/* line 57, main.scss */
.techList-FrameworksLibraries .radar-movement {
  background-color: rgba(30, 188, 205, 0.3);
}

/* line 61, main.scss */
.techList-Tools .radar-movement {
  background-color: rgba(134, 183, 130, 0.3);
}

/* line 65, main.scss */
.techList-TechniquesLanguages .radar-movement {
  background-color: rgba(179, 32, 89, 0.3);
}

/* line 69, main.scss */
.active-tech .radar-movement {
  background-color: white !important;
  color: black !important;
  /*font-weight: bold;*/
}

/* line 75, main.scss */
.tech-label {
  padding: 1px 5px;
  line-height: 1.65em;
  border-radius: 3px;
}

/* line 82, main.scss */
.group-Core .techList-Platforms .active-tech .tech-label {
  background-color: #D91500;
}
/* line 85, main.scss */
.group-Core .techList-FrameworksLibraries .active-tech .tech-label {
  background-color: #006485;
}
/* line 89, main.scss */
.group-Core .techList-Tools .active-tech .tech-label {
  background-color: #246020;
}
/* line 93, main.scss */
.group-Core .techList-TechniquesLanguages .active-tech .tech-label {
  background-color: #5b000a;
}

/* line 99, main.scss */
.group-Non-Core .techList-Platforms .active-tech .tech-label {
  background-color: #EB4A0A;
}
/* line 102, main.scss */
.group-Non-Core .techList-FrameworksLibraries .active-tech .tech-label {
  background-color: #0089a5;
}
/* line 106, main.scss */
.group-Non-Core .techList-Tools .active-tech .tech-label {
  background-color: #458540;
}
/* line 110, main.scss */
.group-Non-Core .techList-TechniquesLanguages .active-tech .tech-label {
  background-color: #80031e;
}

/* line 116, main.scss */
.group-Adopting .techList-Platforms .active-tech .tech-label {
  background-color: #F38A3E;
}
/* line 119, main.scss */
.group-Adopting .techList-FrameworksLibraries .active-tech .tech-label {
  background-color: #1ebccd;
}
/* line 123, main.scss */
.group-Adopting .techList-Tools .active-tech .tech-label {
  background-color: #86B782;
}
/* line 127, main.scss */
.group-Adopting .techList-TechniquesLanguages .active-tech .tech-label {
  background-color: #B32059;
}

/* line 132, main.scss */
.category {
  padding: 5px;
  margin-bottom: 5px;
}

/* line 138, main.scss */
.mouseover-title {
  position: absolute;
  color: slategrey;
}

/* line 143, main.scss */
.radar-quadrant-navigation {
  list-style-type: none !important;
}

/* line 147, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants {
  display: block;
  background-color: #FAFAFA;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 155, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant {
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  float: left;
  text-align: center;
  display: block;
  vertical-align: middle;
}

/* line 165, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a {
  border-bottom: none;
  box-sizing: border-box;
  height: 75px;
  color: #FAFAFA;
  display: block;
  vertical-align: middle;
  line-height: 1em;
  font-weight: 700;
  font-size: 16px;
  background-color: #808185;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  padding: 28px 0;
}

/* line 181, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0 {
  border-top: 0;
  border-bottom: 1px solid #EEE;
  background-position: bottom left;
  background-image: url("../images/menu_quadrant_0--inactive.png");
  /*background-image: url(/imgs/radar/secondary_navigation_quadrant/menu_quadrant_techniques--inactive.png);*/
}

/* line 190, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:hover {
  background-color: #86B782;
  background-image: url("../images/menu_quadrant_0.png");
}

/* line 197, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1 {
  background-position: top left;
  background-image: url("../images/menu_quadrant_1--inactive.png");
  padding: 21px 0;
}

/* line 203, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:hover {
  background-color: #B32059;
  background-image: url("../images/menu_quadrant_1.png");
}

/* line 210, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2 {
  border-right: 1px solid #EEE;
  background-position: top right;
  background-image: url("../images/menu_quadrant_2--inactive.png");
}

/* line 216, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:hover {
  background-color: #F38A3E;
  background-image: url("../images/menu_quadrant_2.png");
}

/* line 223, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3 {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  background-position: bottom right;
  background-image: url("../images/menu_quadrant_3--inactive.png");
  padding: 21px 0;
}

/* line 231, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:hover {
  background-color: #1EBCCD;
  background-image: url("../images/menu_quadrant_3.png");
}

/* line 238, main.scss */
.dot {
  font-size: 18px;
  font-weight: 700;
}

/* line 243, main.scss */
.title-wrapper {
  margin-bottom: 20px;
  background-color: #EEE;
}

/* line 248, main.scss */
.title {
  text-align: center;
  padding-top: 20px;
  font-weight: 900;
  font-size: 60px;
  color: #333;
  display: block;
  margin: 25px 0;
  text-transform: uppercase;
  line-height: .8em;
  border-bottom: none;
}

/* line 261, main.scss */
.group {
  display: block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 13px;
}
/* line 267, main.scss */
.group ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-left: 0px;
}
/* line 272, main.scss */
.group ul li {
  padding: 0 5px;
  line-height: 1.65em;
}

/* line 279, main.scss */
h3 {
  line-height: 30px;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 288, main.scss */
.tech-description {
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  margin-bottom: 5px;
  padding: 5px 0 5px 10px;
  color: #555 !important;
}
/* line 294, main.scss */
.tech-description p {
  margin-bottom: 5px;
}
