/*@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";*/
/*@import "bootstrap-sass/lib/responsive";*/
/* Put your CSS here */
/* line 20, main.scss */
body {
  background: #FAFAFA;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  /*font-family: "  Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #333;
}

/* line 27, main.scss */
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #EEE;
  border-radius: 6px;
  padding: 60px;
}

/* line 38, main.scss */
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

/* line 44, main.scss */
input[type="text"].input-small {
  height: 10px;
  font-size: 9pt;
  line-height: 10px;
}

/* line 50, main.scss */
.radar-manager ul {
  list-style-type: none;
  margin: 5px;
}

/* line 55, main.scss */
.new-category {
  max-height: 25px;
  font-size: 8pt;
  float: right;
  padding-right: 10px;
  margin: 0;
}

/* line 63, main.scss */
.new-category a {
  float: right;
}

/* line 67, main.scss */
.new-category input {
  margin-right: 10px;
}

/* line 71, main.scss */
.active-tech {
  font-weight: bold;
  background-color: teal;
  color: #FFF;
  transition: all 1s ease-in-out;
}

/* line 78, main.scss */
.techList-Platforms .active-tech {
  background-color: #f38a3e;
}

/* line 82, main.scss */
.techList-FrameworksLibraries .active-tech {
  background-color: #1ebccd;
}

/* line 86, main.scss */
.techList-Tools .active-tech {
  background-color: #86b782;
}

/* line 90, main.scss */
.techList-TechniquesLanguages .active-tech {
  background-color: #b32059;
}

/* line 96, main.scss */
.category {
  padding: 5px;
  margin-bottom: 5px;
}

/* line 102, main.scss */
.mouseover-title {
  position: absolute;
  color: slategrey;
}

/* line 107, main.scss */
.radar-quadrant-navigation {
  list-style-type: none !important;
}

/* line 111, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants {
  display: block;
  background-color: #FFF;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 119, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant {
  box-sizing: border-box;
  width: 50%;
  padding: 0;
  float: left;
  text-align: center;
  display: block;
  vertical-align: middle;
}

/* line 129, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a {
  border-bottom: none;
  box-sizing: border-box;
  height: 75px;
  color: #FFF;
  display: block;
  vertical-align: middle;
  line-height: 1em;
  font-weight: 700;
  font-size: 16px;
  background-color: #808185;
  background-size: 65px 65px;
  background-repeat: no-repeat;
  padding: 28px 0;
}

/* line 145, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0 {
  border-top: 0;
  border-bottom: 1px solid #EEE;
  background-position: bottom left;
  background-image: url("../images/menu_quadrant_0--inactive.png");
  /*background-image: url(/imgs/radar/secondary_navigation_quadrant/menu_quadrant_techniques--inactive.png);*/
}

/* line 154, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar0:hover {
  background-color: #86B782;
  background-image: url("../images/menu_quadrant_0.png");
}

/* line 161, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1 {
  background-position: top left;
  background-image: url("../images/menu_quadrant_1--inactive.png");
}

/* line 167, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar1:hover {
  background-color: #B32059;
  background-image: url("../images/menu_quadrant_1.png");
}

/* line 174, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2 {
  border-right: 1px solid #EEE;
  background-position: top right;
  background-image: url("../images/menu_quadrant_2--inactive.png");
}

/* line 181, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar2:hover {
  background-color: #F38A3E;
  background-image: url("../images/menu_quadrant_2.png");
}

/* line 188, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3 {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  background-position: bottom right;
  background-image: url("../images/menu_quadrant_3--inactive.png");
}

/* line 195, main.scss */
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3.selected,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:active,
.radar-quadrant-navigation .radar-quadrant-navigation__radar-quadrants .radar-quadrant-navigation__quadrant a.radar3:hover {
  background-color: #1EBCCD;
  background-image: url("../images/menu_quadrant_3.png");
}

/* line 202, main.scss */
.title-wrapper {
  margin-bottom: 25px;
  margin-left: 0;
  background-color: #EEE;
}
/* line 206, main.scss */
.title-wrapper .column {
  padding-right: 0;
  padding-left: 0;
}

/* line 212, main.scss */
.title {
  text-align: center;
  padding-top: 20px;
  letter-spacing: -.08em;
  font-weight: 800;
  font-size: 60px;
  color: #333;
  display: block;
  margin: 25px 0;
  text-transform: uppercase;
  line-height: .8em;
  border-bottom: none;
}

/* line 226, main.scss */
.group {
  display: block;
  /*padding: 1em .4em 1em 20px;*/
  line-height: 1.15em;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 12px;
}
/* line 234, main.scss */
.group li {
  padding: 0 5px;
  line-height: 1.8em;
}

/* line 241, main.scss */
h3 {
  padding-left: 10px;
  line-height: 30px;
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
