<style type="text/css">
  .tech-label {
    background: white;
    font-size: 8pt;
  }
</style>
<div class="container-fluid title-wrapper">
  <div class="row">
    <div class="col-sm-8 column">
      <h1 class="title">Technical Radar</h1>
    </div>
    <div class="col-sm-4 column">
      <div class="radar-quadrant-navigation" id="radar">
        <ul class="radar-quadrant-navigation__radar-quadrants">

          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar3 selected" href="javascript:void(0);">Frameworks &amp;<br> Libraries</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar0" href="javascript:void(0);">Tools</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar2" href="javascript:void(0);">Platforms</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar1" href="javascript:void(0);">Techniques &amp;<br> Languages</a>
          </li>


        </ul>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid">

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4 radar-manager">

      <div class="group" ng-repeat="group in radarTechList">
        <div ng-show="group.label == groupActive " class="techList techList-{{ group.label.replace(' & ', '') }}">
          <h3 style="display: inline;">
            <span class="dot platforms" style="color: {{group.color}}">●</span> {{group.group }}
          </h3>

          <ul>
            <li ng-repeat="technology in group.technologies" ng-class="{'active-tech': technology.active}">
              {{technology.index}} - {{ technology.label }}
            </li>
          </ul>
        </div>
      </div>


      <!--<div ng-repeat="status in radarData">
        <div class="category" ng-repeat="category in status.categories">
          <h3 style="display: inline;"><span class="dot platforms" style="color: {{category.color}}">●</span> {{ status.label  }}</h3>

          <ul>
            <li ng-repeat="technology in category.technologies">
              {{technology.index}} - {{ technology.label }} - {{ category.label  }}
            </li>
          </ul>
        </div>
      </div>-->
    </div>
    <div class="col-sm-4" style="text-align: left;">
      <!--  <span class="mouseover-title">
            <h3>{{activeCategory.label}}</h3>
            <h4>{{activeStatus.label}}</h4>
        </span>-->
      <radar-diagram height="480" width="480"/>
    </div>
    <div class="col-sm-2"></div>

  </div>
</div>

