<div class="container title-wrapper">
  <div class="row">
    <div class="col-sm-8 column">
      <h1 class="main-title">Technical Radar</h1>
    </div>
   <!-- <div class="col-sm-4 column">
      <div class=" row">
        <div class="col-sm-8 column titles" id="radar">
          <h2 class="title selected title3">Frameworks <br/>&amp; Libraries</h2>
          <h2 class="title title0 short">Tools</h2>
          <h2 class="title title1 short">Platforms</h2>
          <h2 class="title title2">Techniques <br/>&amp; Languages</h2>
        </div>
        <div class=" col-sm-4 column">
          <nav class="nav">
            <a href="#" class="nav__item selected radar-pie radar3"><span
              class="text-hidden">The Master Bedroom</span></a>
            <a href="#" class="nav__item radar-pie radar0"><span class="text-hidden">The Dining Room</span></a>
            <a href="#" class="nav__item radar-pie radar1"><span class="text-hidden">The Bathroom</span></a>
            <a href="#" class="nav__item radar-pie radar2"><span class="text-hidden">The Office</span></a>
          </nav>
        </div>
      </div>-->
    <div class="col-sm-4 column">
      <div class="radar-quadrant-navigation" id="radar">
        <ul class="radar-quadrant-navigation__radar-quadrants">

          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar3 selected" href="javascript:void(0);">Frameworks &amp;<br> Libraries</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar0" href="javascript:void(0);">Tools</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar2" href="javascript:void(0);">Platforms</a>
          </li>
          <li class="radar-quadrant-navigation__quadrant">
            <a class="radar-pie radar1" href="javascript:void(0);">Techniques &amp;<br> Languages</a>
          </li>

        </ul>
      </div>
    </div>
  </div>


</div>


<div class="container">

  <div class="row">
    <div class="col-sm-6 radar-manager">
      <div class="row">
        <div class="col-sm-4">
          <div class="group  group-{{ group.group }}" ng-repeat="group in radarTechList | filter: {group: 'Adopting'}">
            <div ng-show="group.label == groupActive" class="techList techList-{{ group.label.replace(' & ', '') }}">
              <h3 style="display: inline;">
                <span class="dot platforms" style="color: {{group.colors[2]}}">●</span><span class="techname"> {{group.group }}</span>
              </h3>
              <ul>
                <li ng-repeat="technology in group.technologies"
                    ng-click="technology.showDetail = !technology.showDetail"
                    ng-mouseleave="highlightTechLabel(technology, false)"
                    ng-mouseover="highlightTechLabel(technology, true)"
                    ng-class="{'active-tech': technology.active}"
                    rel="{{ technology.label }}">
                  <div class="tech-label">
                    {{technology.index + 1}}. {{ technology.label }}
                    <span ng-show="technology.isNew" class="radar-movement">new</span>
                  </div>

                  <div class="tech-description" ng-show="technology.showDetail">
                    <p class="number-of-SE"><span>&bullet;&nbsp;SE:&nbsp;</span>{{ technology.numberOfSE }}</p>
                    <p class="number-of-SSE"><span>&bullet;&nbsp;SSE:&nbsp;</span>{{ technology.numberOfSSE }}</p>
                    <p class="number-of-PSE"><span>&bullet;&nbsp;PSE:&nbsp;</span>{{ technology.numberOfPSE }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <div class="group group-{{ group.group }}" ng-repeat="group in radarTechList | filter: {group: 'Non-Core'}">
            <div ng-show="group.label == groupActive" class="techList techList-{{ group.label.replace(' & ', '') }}">
              <h3 style="display: inline;">
                <span class="dot platforms" style="color: {{group.colors[1]}}">●</span><span class="techname"> {{group.group }}</span>
              </h3>

              <ul>
                <li ng-repeat="technology in group.technologies"
                    ng-click="technology.showDetail = !technology.showDetail"
                    ng-mouseleave="highlightTechLabel(technology, false)"
                    ng-mouseover="highlightTechLabel(technology, true)"
                    ng-class="{'active-tech': technology.active}"
                    rel="{{ technology.label }}">

                  <div class="tech-label">
                    {{technology.index + 1}}. {{ technology.label }}
                    <span ng-show="technology.isNew" class="radar-movement">new</span>
                  </div>
                  <div class="tech-description" ng-show="technology.showDetail">
                    <p class="number-of-SE"><span>&bullet;&nbsp;SE:&nbsp;</span>{{ technology.numberOfSE }}</p>
                    <p class="number-of-SSE"><span>&bullet;&nbsp;SSE:&nbsp;</span>{{ technology.numberOfSSE }}</p>
                    <p class="number-of-PSE"><span>&bullet;&nbsp;PSE:&nbsp;</span>{{ technology.numberOfPSE }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-sm-4">
          <div ng-show="group.group == 'Core'" class="group group-{{ group.group }}"
               ng-repeat="group in radarTechList | filter: {group: 'Core'}">
            <div ng-show="group.label == groupActive"
                 class="techList techList-{{ group.label.replace(' & ', '') }}">
              <h3 style="display: inline;">
                <span class="dot platforms" style="color: {{group.colors[0]}}">●</span><span class="techname"> {{group.group }}</span>
              </h3>

              <ul>
                <li ng-repeat="technology in group.technologies"
                    ng-click="technology.showDetail = !technology.showDetail"
                    ng-mouseleave="highlightTechLabel(technology, false)"
                    ng-mouseover="highlightTechLabel(technology, true)"
                    ng-class="{'active-tech': technology.active}"
                    rel="{{ technology.label }}">
                  <div class="tech-label">
                    {{technology.index + 1}}. {{ technology.label }}
                    <span ng-show="technology.isNew" class="radar-movement">new</span>
                  </div>
                  <div class="tech-description" ng-show="technology.showDetail">
                    <p class="number-of-SE"><span>&bullet;&nbsp;SE:&nbsp;</span>{{ technology.numberOfSE }}</p>
                    <p class="number-of-SSE"><span>&bullet;&nbsp;SSE:&nbsp;</span>{{ technology.numberOfSSE }}</p>
                    <p class="number-of-PSE"><span>&bullet;&nbsp;PSE:&nbsp;</span>{{ technology.numberOfPSE }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-sm-6 no-col-padding-right" style="text-align: right;">
      <!--  <span class="mouseover-title">
            <h3>{{activeCategory.label}}</h3>
            <h4>{{activeStatus.label}}</h4>
        </span>-->
      <radar-diagram height="555" width="555"/>
    </div>
  </div>
</div>

